inputs/*
logs/*
outputs/*
weights/*
utilities/__init__.py
__pycache__/
.vscode/
.ipynb_checkpoints/
*.pyc

# exception to the rule
!inputs/.gitkeep 
!logs/.gitkeep 
!outputs/.gitkeep 
!weights/.gitkeep
